---
---
<!DOCTYPE html>
<!--
  Use this layout for the home page for the workshop website.
  Use 'page.html' for other pages.
-->
<html>
  <head>
    <title>Data Carpentry: {{ page.venue }}</title>
    {% include header.html %}
    <meta name="venue" content="{{page.venue}}" />
    <meta name="date" content="{{page.humandate}}" />
    <meta name="startdate" content="{{page.startdate}}" />
    <meta name="enddate" content="{{page.enddate}}" />
    {% if page.redirect %}
    <meta http-equiv="refresh" content="0; url={{page.redirect}}" />
    {% endif %}
  </head>
  <body class="workshop">

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P932VX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P932VX');</script>
<!-- End Google Tag Manager -->

    {% include github-ribbon.html %}

    <div class="container card">
      {% include banner.html %}
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2>A Data Carpentry Workshop</a>
            <h3>Host: {{page.host}}</h3>

	    <h2>{{page.venue}}</h2>
            <div class="row">
              <div class="col-md-6">
                <p>{{page.humandate}}</p>
                <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
              </div>
              <div class="col-md-6">
                <p>
                <strong>Instructors:</strong>
                {% if page.instructor %}
                {{page.instructor | join: ', ' %}}
                {% else %}
                to be announced.
                {% endif %}
                </p>
                {% if page.helper %}
                <p>
                <strong>Helpers:</strong>
                {{page.helper | join: ', ' %}}
                </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          {{content}}
        </div>
      </div>
      {% include footer.html %}
    </div>
    {% include javascript.html %}
  </body>
</html>
